.card {
  width: 150px;
  height: 275px;
  padding: 8px;
  margin: 8px 0;
  display: grid;
  place-items: center;
  background: rgb(4, 18, 31);
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    background: rgb(7, 26, 44);
    transform: scale(1.05);
  }
}

.imageContainer {
  position: relative;
  width: 144px;
  height: 150px;
}

.overlay_rating {
  position: absolute;
  top: 0;
  left: 0;

  p {
    width: 2rem;
    height: 2rem;
    background: black;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
  }
}

.overlay_icons {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  backdrop-filter: blur(8px) brightness(80%);
  transition: all 0.3s ease-in-out;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  button {
    font-size: 2rem;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0.5rem;

    :hover {
      color: red;
    }
  }
}

.imageContainer:hover .overlay_icons {
  height: 100%;
}

.title {
  width: 100%;
  margin-top: 0.5rem;
  text-align: center;
  word-wrap: break-word;
}

@media screen and (min-width: 425px) {
  .card {
    width: 175px;
  }
  .imageContainer {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 225px;
    height: 350px;
  }
  .imageContainer {
    width: 200px;
    height: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 275px;
    height: 375px;
  }
  .imageContainer {
    width: 250px;
    height: 275px;
  }
}
