.card {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 8px 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: var(--transition);
  z-index: 1;

  &:hover {
    transform: scale(1.05);
    z-index: 20;
  }
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-color: transparent;
    border-style: solid;
}

.card::before {
  border-width: 2em;
  border-left-color: #ccc;
  border-top-color: #ccc;
}

.card::after {
  border-width: 2em;
  border-left-color: black;
  border-top-color: black; 
}

.imageContainer {
  position: relative;
  width: 150px;
  height: 150px;
}

.overlay_rating {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  p {
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  backdrop-filter: blur(1px) brightness(80%);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  p {
    font-weight: bold;

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }
}

.overlay_icons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;

  button {
    font-size: 2rem;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0.5rem;

    :hover {
      color: red;
    }
  }
}

.imageContainer:hover .overlay {
  height: 100%;
}

.title {
  width: 100%;
  margin-top: 0.5rem;
  text-align: center;
  word-wrap: break-word;
}

@media screen and (min-width: 425px) {
  .card {
    width: 225px;
    height: 200px;
  }
  .imageContainer {
    width: 225px;
    height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 300px;
    height: 250px;
  }
  .imageContainer {
    width: 300px;
    height: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 400px;
    height: 350px;
  }
  .imageContainer {
    width: 400px;
    height: 350px;
  }
}

.skeleton {
  width: 100%;
  height: 100%;
  background-color:rgb(20, 68, 95);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  opacity: 0; /* Initially set opacity to 0 for the fade-in effect */
  animation: fadeIn 1s ease-in-out forwards; /* Animation properties */
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}