.collection_container {

  @media screen and (min-width: 768px) {
    margin: 1rem 0;
  }
}

.collection {
  padding: 0 0.25rem;
  margin: 0 0 2rem 1rem;
  display: flex;
  gap: 0.5rem;
  overflow-x: scroll;
  overflow-y: hidden;

  @media screen and (min-width: 768px) {
    gap: 1rem;
  }
}

.links {
  text-decoration: none;
  cursor: pointer;
}

.collection::-webkit-scrollbar {
  height: 6px;
}

.collection::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px var(--clr-primary);
  border-radius: var(--radius);
}

.collection::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  border-radius: var(--radius);
  -webkit-box-shadow: inset 0 0 1px var(--clr-primary);
}

.collection_type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  margin-left: 1rem;

  h3 {
    color: var(--clr-secondary);
    background: rgb(231, 218, 193);
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: var(--radius);
    border: 1px solid rgb(231, 218, 193);
    
    &:hover {
      color: var(--clr-secondary);
      background: var(--clr-primary);
    }
  }
}

.switchButton {
  background: rgba(255, 255, 255, 0.56);
  border-radius: var(--radius);
  overflow: hidden;
  width: 6rem;
  text-align: center;
  font-size: 1rem;
  color: #155fff;
  position: relative;
  padding-right: 3rem;
  position: relative;
  margin-left: 1rem;

  &:before {
    content: "Week";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }

  &Checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;

    &:checked + .switchButtonLabel:before {
      transform: translateX(3rem);
      transition: transform 300ms linear;
    }

    & + .switchButtonLabel {
      position: relative;
      padding: 0.2rem 0;
      display: block;
      user-select: none;
      pointer-events: none;

      &:before {
        content: "";
        background: #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: var(--radius);
        transform: translateX(0);
        transition: transform 300ms;
      }

      .switchButtonLabelSpan {
        position: relative;
      }
    }
  }
}

@media screen and (min-width: 425px) {
  .switchButton {
    width: 8rem;
    font-size: 1rem;
    padding-right: 4rem;

    &:before {
      width: 4rem;
    }

    &Checkbox {
      &:checked + .switchButtonLabel:before {
        transform: translateX(4rem);
      }
    }
  }
}
