.display {
  width: 100vw;
  display: flex;
  flex-direction: column;

  h2 {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}