@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto&display=swap');

:root {
    --ff-primary: 'Itim', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;
    --radius: 8px;
    --transition: all 0.3s linear;
    --light-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    --max-width: 700px;
    --spacing:0.2rem;
    --clr-red: red;
    --br-tablet: 768px;
    --br-laptop: 992px;
}

*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    --clr-text: rgb(222, 230, 236);
    --clr-primarybg: rgb(20, 68, 95);
    --clr-secondarybg: rgb(205, 223, 226);
    --clr-tertiarybg: rgb(240, 243, 245);
    --clr-primary: rgb(222, 230, 236);
    --clr-secondary: rgb(2, 13, 22);
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: var(--ff-primary);
    background: var(--clr-secondary);
    color: var(--clr-text);
    font-size: 0.8rem;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.8rem;
}

p {
    color: var(--clr-text);
}

a {
    text-decoration: none;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
    cursor: pointer;
    border: none;
}

@media screen and (min-width: 800px) {
    body {
        font-size: 1rem;
    }

    h1, h2, h3, h4 {
        line-height: 1;
    }
    
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 1.75rem;
    }
    
    h4 {
        font-size: 1rem;
    }
}

.sr-only{
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}