.login {
  color: white;
  background: transparent;
  width: 100vw;
  height: calc(100vh - 4.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  article {
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      text-align: center;
      margin: 1rem 0;
    }

    form {
      width: 100%;
      max-width: 30rem;
      height: 30rem;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      border: 2px solid rgba(183, 200, 201, 0.733);
      border-radius: var(--radius);

      h3 {
        margin: 0.5rem auto 0;
      }

      span {
        width: 100%;
        color: red;
        text-align: center;
        font-family: var(--ff-secondary);
      }

      div {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0.5rem auto;

        label {
          font-size: 1.2rem;
          margin: 0.5rem 0;
        }

        input {
          height: 2rem;
        }
      }
    }
  }
}

.login_input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  color: var(--clr-secondary);
  background: var(--clr-primary);
}

.loginbtn {
  width: 100% !important;
  display: flex !important;
  align-items: flex-end !important;
  justify-content: center !important;
  padding-right: 1rem !important;

  button {
    width: 5rem;
    height: 2rem;
    margin: 1rem;
    margin-right: 0;
    border: none;
    border-radius: 8px;
    transition: var(--transition);
    cursor: pointer;

    &:hover {
      background: var(--clr-secondary);
      color: var(--clr-primary);
      border: 1px solid var(--clr-primary);
    }
  }

  p {
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

.link {
  text-decoration: underline;
  color: white;

  &:hover {
    color: blue;
  }
}

.verify {
  text-align: center;
  padding: 1rem 2rem;
}