.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  z-index: 9;
  backdrop-filter: blur(2px);
}

.loginContainer {
  position: relative;
  display: grid;
  place-items: center;
  padding: 2rem;
}

.formContainer {
    width: 40vw;
    min-width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    background: var(--clr-primarybg);
    border: 2px solid var(--clr-secondarybg);
    border-radius: var(--radius);

    h1 {
      text-align: center;
      margin: 1rem 0;
    }

    form {
      width: 100%;
      max-width: 30rem;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;

      h2 {
        text-transform: uppercase;
        margin: 0.5rem auto 0;
      }

      span {
        width: 100%;
        color: red;
        text-align: center;
      }

      div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0.5rem 0;

        label {
          width: 100%;
          font-size: 1.2rem;
          margin: 4px 0;
        }
        
        input {
          width: 100%;
          height: 2rem;
          border-radius: 4px;
        }
      }
    }
  }

.login_input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  color: var(--clr-secondary);
  background: var(--clr-primary);
}

.loginbtn {
  width: 100% !important;
  display: flex !important;
  align-items: flex-end !important;
  justify-content: center !important;
  padding-right: 1rem !important;    
  flex-direction: column;

  button {
    width: 5rem;
    height: 2rem;
    margin: 1rem;
    margin-right: 0;
    border: none;
    border-radius: 8px;
    transition: var(--transition);
    cursor: pointer;

    &:hover {
      background: var(--clr-secondary);
      color: var(--clr-primary);
      border: 1px solid var(--clr-primary);
    }
  }

  p {
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

.link {
  text-decoration: underline;
  color: white;

  &:hover {
    color: blue;
  }
}

.verify {
  text-align: center;
  padding: 1rem 2rem;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 1rem;
  background: none;
  font-size: 2rem;
  color: rgb(212, 17, 17);

  &:hover {
      color: red;
  }
}